.ontology-ribbon {
    display: flex;
    justify-content: flex-start;
    font-family: $ribbon-strip-font-default;
    line-height: 1;
    // height: 2rem;

    &__label {
        display: table-cell;
        vertical-align: bottom;
        padding: 0px 5px;
        width: 100px;
    }

    &__header {
        display: flex;
        padding: 4px 8px;
        background-color: $ribbon-table-header-bgcolor;
        font-size: $ribbon-table-header-font-size;
        color: $ribbon-table-header-color;
        border-radius: $ribbon-table-header-border-radius;

        &--border-bottom {
            border-bottom: 2.5px solid rgba(128, 128, 128, 0.2);                
        }    
    }

    &__headline {
        font-size: $ribbon-table-headline-font-size;
        color: $ribbon-table-headline-color;
        line-height: initial;
        margin: 5px;
        width: 100%;

        &--border-bottom {
            border-bottom: 2.5px solid rgba(128, 128, 128, 0.2);                
        }    
    }

    &__term-column {
        display: flex;
        max-width: 50%;
        flex: 50%;
        flex-direction: column;
    }

    &__evidence-column {
        display: flex;
        max-width: 50%;
        flex: 50%;
        flex-direction: column;
    }

    &__evidence-row {
        display: flex;
        font-size: $ribbon-table-row-font-size;
    }

    &__eco {
        display: flex;
        max-width: 20%;
        flex: 20%;
        flex-direction: column;
        vertical-align: middle;
    }

    &__eco-group-column {
        display: flex;
        max-width: 80%;
        flex: 80%;
        flex-direction: column;
    }

    &__eco-group-row {
        display: flex;
        padding: .25rem;

        &:hover {
            background-color: $ribbon-table-evidence-hover-color;
            border: none;
            border-radius: .5rem;
        }
    }


    &__with-column {
        display: flex;
        max-width: 50%;
        flex: 50%;
        flex-direction: column;
    }

    &__ref-column {
        display: flex;
        max-width: 50%;
        flex: 50%;
        flex-direction: column;
        padding-bottom: .0rem;
    }

    &__content {
        vertical-align: middle;
        word-break: break-word;
        margin-right: 3px;
        font-size: $ribbon-table-row-font-size;
    }

    &__species-icon--agr {
        display: inline-block;
        background-image: url($ribbon-species-icon);
        width: $ribbon-species-icon-width;
        height: $ribbon-species-icon-height;
        background-size: 700% 100%;
        margin-right: 0.5rem;
        padding: 5px;
        box-sizing: content-box;
        vertical-align: middle;

        &.small {
            width: 26px;
            height: 30px;
        }
        &.Drosophila-melanogaster {
            /* fly */
            background-position: 0 0;
        }
        &.Homo-sapiens {
            /* human */
            background-position: 16.6667% 0;
        }
        &.Mus-musculus {
            /* mouse */
            background-position: 33.3333% 0;
        }
        &.Rattus-norvegicus {
            /* rat */
            background-position: 50% 0;
        }
        &.Saccharomyces-cerevisiae {
            /* yeast */
            background-position: 66.6667% 0;
        }
        &.Saccharomyces-cerevisiae-S288C {
            /* also yeast */
            background-position: 66.6667% 0;
        }
        &.Caenorhabditis-elegans {
            /* worm */
            background-position: 83.3333% 0;
        }
        &.Danio-rerio {
            /* zebrafish */
            background-position: 100% 0;
        }
    }

    &__about {
        display: flex;
        align-items: center;
        padding: 2em .5em;
        text-align: left;

        &-text {
            display: inline-block;
            vertical-align: middle;
            padding-left: 1rem;
        }
    }

    &__strip {
        // margin-top: 15px;
        margin-top: 2px;

        &__label {
            display: contents;
        }
    }

    &__strip-label {
        display: block;
        position: relative;
        font-style: italic;
        white-space: nowrap;
        top: 1rem;
        left: 1rem;
        text-align: center;
        color: $ribbon-strip-group-label-color;

        &--selected {
            color: $ribbon-strip-slim-selected-color;
            font-weight: $ribbon-strip-slim-selected-weight;
            text-decoration: $ribbon-strip-slim-selected-decoration;
        }

        &:hover {
            cursor: pointer;
            font-weight: bold;
            color: $ribbon-strip-group-label-hover-color;
        }
    }

    &__category {
        display: inline-block;
        height: 200px;
        padding-right: $ribbon-strip-tile-separator-width;
    }

    &__item {
        font-size: $ribbon-strip-font-size-default;
        display: table-cell;
        vertical-align: bottom;


        &__category {
            display: inline-block;
            padding-right: $ribbon-strip-tile-separator-width;
        }

    }

    &__subjects {
        // height: 16px;
    }

    &__block {
        font-size: $ribbon-strip-font-size-default;
        display: table-cell;
        vertical-align: bottom;
        height: 200px;

        &--match {
            font-weight: bold;
        }

        &--selected {
            color: $ribbon-strip-slim-selected-color;
            text-decoration: underline;
        }

        &__title {
            position: absolute;
            font-family: $ribbon-strip-font-default;
            transform: rotate(-45deg);
            transform-origin: -14px -8px;
            white-space: nowrap;
            transition: all 0.2s;

            &--selected {
                color: $ribbon-strip-slim-selected-color;
                text-decoration: underline;
            }

            &:hover {
                cursor: pointer;
                text-decoration: underline;
                color: $ribbon-link-color;
                // font-weight: 700;
                transform: translateY(-2px) rotate(-45deg);
                transform-origin: -14px -8px;
            }

            // affecting the TILE style when hovering the TITLE (see CSS combinator)
            &:hover ~ .ontology-ribbon__block__tile {
                cursor: pointer;
                border: 1px solid $ribbon-strip-tile-border-color-hover;
                transform: translateY(1px) scale(1.2);
                z-index: 10;
            }
        }


        &__tile {
            position: relative;
            border: 1px solid $ribbon-strip-tile-border-color;
            height: $ribbon-strip-tile-tile-width;
            width: $ribbon-strip-tile-tile-width;
            margin-right: -1px;
            text-align: center;
            vertical-align: middle;
            box-sizing: content-box;
            border-radius: $ribbon-strip-tile-border-radius;
            transition: all 0.2s;


            &--empty {
                height: $ribbon-strip-tile-tile-width;
                width: $ribbon-strip-tile-tile-width;
                margin-right: -1px;
                border: 1px solid rgba(1, 1, 1, 0);
                border-radius: 0px;
                width: $ribbon-strip-tile-tile-width;
                height: 0px;

                &:hover {
                    cursor: pointer;
                }
            }
    

            &--disabled {
                cursor: not-allowed !important;
                background-color: black !important;
                color: white !important;
            }
            &--disabled:hover {
                cursor: not-allowed !important;
                transform: none !important;
            }
        
            &__separator {
                position: relative;
                margin-right: -1px;
                vertical-align: middle;
                height: 16px;
                width: $ribbon-strip-tile-separator-width;

                &--all {
                    padding-right: 2px;
                }

                &--other {
                    padding-left: 2px;
                }
            }

            // for the tile--all: ALL annotations for the entity
            &--all {
                background-color: $ribbon-strip-slim-saturation-color;
                border-radius: $ribbon-strip-tile-border-radius;
            }

            // for the tile--aspect-all: ALL annotations fora given ASPECT of the entity
            &__aspect--all {
                border-radius: $ribbon-strip-tile-border-radius*3 0 0 $ribbon-strip-tile-border-radius*3;
            }

            // for the tile--aspect--other: OTHER annotations that could not be mapped to a slim for the entity
            &__aspect--other {
                border-radius: $ribbon-strip-tile-border-radius 0 $ribbon-strip-tile-border-radius*3 0;
            }

            // effect when the tile is selected
            &--selected {
                border: 1px solid $ribbon-strip-tile-border-color-hover;
                transform: translateY(1px);
                color: white;
                text-shadow: 1px 1px 5px black;
                z-index: 10;
            }

            // effect when the tile is hovered upon
            &:hover {
                cursor: pointer;
                border: 1px solid $ribbon-strip-tile-border-color-hover;
                transform: translateY(1px) scale(1.2);
                z-index: 10;
            }
        }

        // affecting the TITLE style when hovering the BLOCK (see CSS combinator)
        &:hover .ontology-ribbon__block__title {
            cursor: pointer;
            text-decoration: underline;
            color: $ribbon-link-color;
            // font-weight: 700;
            transform: translateY(-2px) rotate(-45deg);
            transform-origin: -14px -8px;
        }
    }


    &__filter {
        &__list {
            position: absolute;
            background-color: $ribbon-table-filter-bgcolor;
            border: 1px solid white;
            border-radius: 5px;
            box-shadow: -2px 2px 9px black;
            margin-top: .2rem;
            padding: 5px 15px;
            z-index: 1;
        }
        &__row {
            display: flex;
            flex-direction: row;
            margin: .1rem;
            margin-top: .4rem;
            font-size: .8rem;
            font-style: normal;
            color: black;
        }
    }

    &__radio {
        border: 1px none;
        height: 10px;
        width: 10px;
        margin-right: .5rem;
        padding-right: 15px;
        margin-right: 15px;
        border-radius: 5px;
        box-sizing: content-box;
        transition: all 0.2s;

        &__hover {
            cursor: pointer;
            box-shadow: 0px 0px 9px white;
        }

        &--selected {
            background-color: $ribbon-radio-button-selected-bgcolor;
            border: 1px solid white;
            box-shadow: 1px 1px 6px white;
        }
        &--unselected {
            background-color: $ribbon-radio-button-unselected-bgcolor;
            border: 1px solid transparent;
        }
    }


    &__assoc {
        display: flex;
        width: 100%;
        flex-direction: column;
        font-family: Lato, Helvetica, sans-serif;
        font-size: 1rem;
        line-height: 1em;
        color: #26393D;
        text-decoration: none;
        margin-top: 10px;

        &__row {
            display: flex;
            padding: 4px 8px;
            font-size: .9rem;
            line-height: 1.5;

            &--odd {
                background-color: $ribbon-table-row-odd-color;
            }

            &--even {
                background-color: $ribbon-table-row-even-color;
            }

            &--border-bottom:not(:last-child) {
                border-bottom: 1.5px solid rgba(128, 128, 128, 0.2);                
            }

            &--focus {
                border-left-style: 'solid';
                border-left-width: 'thick';
                border-left-color: $ribbon-table-row-focus-color;
                font-style: 'italic';
            }

        }

    }

    &-assoc__row {
        display: flex;
        flex-direction: row;
        font-size: .8rem;
        margin: 0;
        border-radius: 2px;
    }

    &-assoc__row:last-child {
        border-bottom: none;
    }

    &-assoc__white:hover {
        background-color: lightgray;
    }

    &-assoc__green:hover {
        background-color: lightskyblue;
    }

    &-assoc__term-content {
        flex: 0 1 40%;
        min-width: 140px;
        margin-left: 10px;
        padding: 0.3em 0;
    }

    &-assoc__gene {
        flex: 0 1 20%;
        min-width: 100px;
        margin: 0;
        padding: 0.3em 0;
    }

    &-evidence__codes {
        display: flex;
        flex-direction: column;
    }

    &-evidence__group {
        display: flex;
        flex-direction: row;
        /*flex: 0 1 40%;
        min-width: 150px;
        margin-left: 10px;*/
    }

    &-assoc__evidence {
        flex: 0 1 20%;
        min-width: 100px;
        margin: 0;
        padding: 0.3em 0;
    }

    &-assoc__evidence-type {
        flex: 0 1 10%;
        min-width: 100px;
        margin: 0;
        padding: 0.3em 0;
    }

    &-assoc__evidence-with {
        display: flex;
        flex-direction: column;
    }

    &-assoc__evidence-with-name {
        flex: 0 1 30%;
        min-width: 100px;
        margin: 0;
        padding: 0.3em 0;
    }

    &-assoc__evidence-reference {
        display: flex;
        flex-direction: column;
    }

    &-assoc__evidence-ref-name {
        flex: 0 1 20%;
        min-width: 100px;
        margin: 0;
        padding: 0.3em 0;
    }

    &-assoc__gene-content {
        flex: 0 0 80%;
        margin: 0;
        padding: 0.3em 0;
    }

}
