
// Primary color will automatically drive the general appearance of the Ribbon
// $ribbon-primary-color: rgb(7, 101, 101);
$ribbon-primary-color: rgb(24, 73, 180);
$ribbon-secondary-color: lighten($ribbon-primary-color, 10%);



// Ribbon Strip
$ribbon-strip-font-default: Lato, Helvetica, sans-serif;
$ribbon-strip-font-size-default: 0.8rem;

// Ribbon Strip Tile
$ribbon-strip-tile-border-color: silver;
$ribbon-strip-tile-border-color-hover: #247bbd;
$ribbon-strip-tile-tile-width: 16px;
$ribbon-strip-tile-separator-width: 16px;
$ribbon-strip-tile-border-radius: 5px; // make the slim box rounder

// Ribbon Strip Sliem
$ribbon-strip-slim-selected-color: #247bbd;
$ribbon-strip-slim-selected-weight: 700;
$ribbon-strip-slim-selected-decoration: underline;

// Ribbon Strip Density Color
$ribbon-strip-slim-saturation-color: $ribbon-primary-color;

// Ribon Strip Group Label
$ribbon-strip-group-label-color: #247bbd;
$ribbon-strip-group-label-hover-color: #18517d;



// Ribbon Table Header
$ribbon-table-header-font-size: $ribbon-strip-font-size-default;
$ribbon-table-header-color: #FFFAE4;
$ribbon-table-header-bgcolor: $ribbon-primary-color;

// Ribbon Table Row
$ribbon-table-row-font-size: $ribbon-strip-font-size-default;
$ribbon-table-row-odd-color: #ffffff;
$ribbon-table-row-even-color: rgba($ribbon-secondary-color, 0.1);
$ribbon-table-row-focus-color: $ribbon-secondary-color;

// Table Based On Section
$ribbon-table-evidence-hover-color: rgba($ribbon-secondary-color, 0.25);



// Species icon width & height
$ribbon-species-icon-width: 32px;
$ribbon-species-icon-height: 36px;




// Default Link Colors
$ribbon-link-color: #247bbd;
$ribbon-link-hover-color: #18517d;

// Default Radio Button Colors
$ribbon-radio-button-selected-bgcolor: #00ff00;
$ribbon-radio-button-unselected-bgcolor: grey;





// variables that can be used in JS code
:export {
    primary_color: $ribbon-primary-color;
    secondary_color: $ribbon-secondary-color;
    ribbon_strip_slim_saturation_color: $ribbon-strip-slim-saturation-color;
}