.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
}
.flex-container > * {
    padding: 15px;
    -webkit-flex: 1 100%;
    flex: 1 100%;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  list-style-type: none;
}
.caption {
  background-color: #c0d8d8;
  text-align: center;
  width: 700px;
  max-width: 655px;
  font-weight: bold;
  font-size: 10pt;
  height: 2em;
  line-height: 2em;
  margin: 2px;
  padding: 0;
}
.assoc-view {
  position: relative;
  float: left;
  display: flex;
  top: 1px;
  width: 96%;
  margin: 0rem auto 0;
}
.assoc-list {
  position: relative;
  margin: 0;
  padding: 0;
  width: 650px;
}
.assoc-img {
  float: left;
  margin-right: 8px;
  width: 40px;
  height: 30px;
  background-size: cover;
  border-radius: 2px 0 0 2px;
}
.assoc-subject {
  font-weight: 400;
  font-size: 12px;
}
.assoc-go {
  font-weight: 800;
  font-size: 14px;
  color: lighten($darkgray, 25%);
}
.strip {
    font-size: 9pt;
    width: 96%;
}
.ribbonBlock {
    height: 18em;
    display: table-cell;
    vertical-align: bottom;
}
.bold {
  font-weight: bold;
}
.ribbonBlock:hover {
    /*font-weight: bold;*/
  color: #699;
}
.blockTitle {
  transform: rotate(-45deg);
  text-indent: 10px;
  width: 16px;
  white-space: nowrap;
}
.blockTile {
  border: 1px solid silver;
  height: 16px;
  margin-right: -1px;
  position: relative;
}
.blockTile:hover {
  border: 1px solid #acd;
  z-index: 10;
}
.tileSeparator {
  height: 16px;
  width: 32px;
  margin-right: -1px;
  position: relative;
}
